---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import geohaus from "../assets/images/geohaus.svg";
import moodboard from "../assets/images/moodboard.webp";
import lpcover from "../assets/images/lpcover.webp";
import bag from "../assets/images/bag.webp";
import neon from "../assets/images/neon.webp";
import g from "../assets/images/letter-g-3d.webp";
---

<MainLayout title="GeoHaus - Display font">
  <section id="hero" class="max-w-[1728px] mx-auto mt-32">
    <Image src={geohaus} alt="GeoHaus logo" />
  </section>
  <section id="om" class="max-w-7xl mx-auto mt-32 lg:mt-52">
    <h2 class="md:text-center max-w-prose mx-auto citat">En display font der er inspireret af Bauhaus-stilens enkle og geometriske udtryk. Den bruger gentagne, parallelle linjer til at skabe mønstre og former.</h2>

    <div class="grid md:grid-cols-2 mt-32 lg:mt-52 om">
      <article class="content-center max-w-prose">
        <h1 class="">Om GeoHaus</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </article>
      <div class="m-auto">
        <Image src={moodboard} alt="moodboard brugt som inspiration til GeoHaus" class="w-[500px]" />
        <p class="italic text-sm text-right">Moodboard</p>
      </div>
    </div>
  </section>
  <section id="inspo" class="max-w-7xl mx-auto grid grid-cols-12 mt-32 lg:mt-52 mb-20">
    <h1 class="col-span-12 row-start-1 justify-self-center">Inspiration</h1>
    <div class="col-start-1 col-span-5 row-start-2 row-span-4"><Image src={bag} alt="taske med GeoHaus logo" /></div>
    <div class="col-start-7 col-span-5 row-start-2 row-span-2"><Image src={lpcover} alt="Lp cover med GeoHaus logo" /></div>
    <div class="col-start-8 col-span-5 row-start-4 row-span-2"><Image src={g} alt="Bogstav g med 3D effekt" /></div>
    <div class="col-span-12 row-start-6"><Image src={neon} alt="" /></div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";

  // Entrance
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  // Inview animation citat
  const inviewelementet = document.querySelector(".citat");
  inView(inviewelementet, () => {
    inviewelementet.classList.add("fade-in-bottom");
  });

  // Inview animation om
  const inviewelementet2 = document.querySelector(".om");
  inView(inviewelementet2, () => {
    inviewelementet2.classList.add("fade-in-bottom");
  });

  // Inview animation inspo
  const inviewelementet3 = document.querySelector("#inspo");
  inView(inviewelementet3, () => {
    inviewelementet3.classList.add("fade-in-bottom");
  });
</script>
