---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import geohaus from "../assets/images/geohaus.svg";
import lpcover from "../assets/images/lpcover.webp";
import bag from "../assets/images/bag.webp";
import neon from "../assets/images/neon.webp";
import g from "../assets/images/letter-g-3d.webp";
---

<MainLayout title="GeoHaus">
  <section>
    <Image src={geohaus} alt="GeoHaus logo" />
  </section>
  <section></section>
  <section class="max-w-7xl mx-auto grid grid-cols-12">
    <h2 class="col-span-12 row-start-1 justify-self-center">Lorem ipsum</h2>
    <div class="col-start-1 col-span-5 row-start-2 row-span-4"><Image src={bag} alt="taske med GeoHaus logo" /></div>
    <div class="col-start-7 col-span-5 row-start-2 row-span-2"><Image src={lpcover} alt="Lp cover med GeoHaus logo" /></div>
    <div class="col-start-8 col-span-5 row-start-4 row-span-2"><Image src={g} alt="Bogstav g med 3D effekt" /></div>
    <div class="col-span-12 row-start-6"><Image src={neon} alt="" /></div>
  </section>
</MainLayout>
